<div class="jumbotron center">
<h1><strong>Révez votre vie.</br>Vivez vos rêves.</strong></h1>
<div class="weight500"><h4>Novlife vous apporte des outils pour améliorer votre vie,</br> du point de vue professionel comme du point de vue personnel.</h4></div>
</br>
</br>
<% if user_signed_in? %>
<% else %>
	<p>
		<%= link_to new_user_registration_path, class: "btn btn-danger btn-lg btn-home" do %>
    <i class="fa fa-lock"></i> &nbsp;S'INSCRIRE GRATUITEMENT
		<% end %>
	</p>
<% end %>
</div>

<div class="container-fluid grey">
	<div class="container2">
			<div class="col-md-4 center margin-bottom">
				<%= image_tag (''), class: 'medium' %>
				<h4><strong>Une nouvelle vie</strong></h4>
				<div class="weight500">Ne soyez plus contraint de travailler.</br>Gagnez l'un des bien le plus</br> précieux de l'homme, du temps.</div>
			</div>
			<div class="col-md-4 center margin-bottom">
				<%= image_tag (''), class: 'medium' %>
				<h3>XXX</h3>
				<p>XXX</p>
			</div>
			<div class="col-md-4 center margin-bottom">
				<%= image_tag (''), class: 'medium' %>
				<h3>XXX</h3>
				<p>XXX</p>
			</div>
	</div>
</div>

<div class="citation">
	<div class="container-fluid center">
		<h1>Your time is limited,</br> so don't waste it living</br> someone else's life.</h1>
		</br>
		</br>
		<p><strong>STEVE JOBS</strong></p>
	</div>
</div>

<div class="container-fluid	 center">
	<div class="container3">
	<h1><strong>Découvrez Novlife ajourd'hui</strong></h1>
	<div class="weight500"><p>Vous souhaitez vivre de vos passions, voyager et passer plus de temps</br> avec vos proches? N'attendez plus pour changez de vie.</p></div>
	<% if user_signed_in? %>
		<% else %>
			<p>
				<%= link_to new_user_registration_path, class: "btn btn-danger btn-lg btn-home" do %>
		    <i class="fa fa-lock"></i> &nbsp;S'INSCRIRE
				<% end %>
				<%= link_to new_user_registration_path, class: "btn btn-default btn-lg btn-home" do %>
		   	SE CONNECTER
				<% end %>
			</p>
	<% end %>
	</div>
</div>

